.search{
    margin: 20px 50px 0;


}
.search input{
    border:0;
    padding: 20px 10 px 10px;
    width: calc(100% - 120px);
    margin-right: 16px;
    font-size: 24px;
    border-bottom: 1px solid transparent;
}
.search input:focus{
    outline: none;
    border-bottom: 1px solid #CCC;
}
.btn{
    padding: 6px 16px;
    background: #006e81;
    color: #FFF;
    border: 2px solid #006e81;
    box-shadow: inset 1px 1px 4px 2px #FFF;
    border-radius: 6px;
    font-size: 20px;

}
.radio{
    margin: 20px 50px 0;

}

.radio span{
    margin-right: 60px;
}